@media(max-width:1200px) {

    .custom__cards,
    .commerce__cards {
        flex-wrap: wrap;
        max-width: 600px;
        margin: 0 auto;
    }

    .commerce__cards {
        gap: 20px;
    }

}

@media(max-width:992px) {
    .nav {
        flex-direction: column;
        gap: 20px;
    }

    .nav__list {
        order: 1;
    }

    .nav__dropdown {
        top: 160px;
    }

    .collection__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__inner {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    .footer-links {
        align-items: center;
    }

    .footer__inner_item-title {
        text-align: center;
    }

    .footer__inner_item:nth-child(3) .footer__icons {
        align-items: start;
        max-width: 60px;
        margin: 0 auto;
    }
    .footer__item_form-text{
        text-align: center;
    }
    .footer__item_form-icons{
        justify-content: center;
    }
}

@media(max-width:768px) {
    .header__content_title {
        font-size: 35px;
    }
}

@media(max-width:576px) {
    .nav__list {
        flex-direction: column;
        text-align: center;
    }

    .nav__list_link:nth-child(3) {
        order: 1;
        position: relative;
    }

    .nav__dropdown {
        top: 35px;
        max-width: 120px;
    }

    .nav__dropdown .nav__list_link a {
        padding: 12px 0 12px 0px;
    }

    .commerce__cards {
        justify-content: center;
    }
    .header__content_title{
        padding: 15px 30px;
        font-size: 30px;
    }
    .commerce__desc_title,
    .collection__item_title{
        font-size: 40px;
        line-height: 50px;
    }
    .custom__desk_title{
        font-size: 37px;
        line-height: 50px;
    }
    
}

@media(max-width:375px) {
    .header__content_title{
        font-size: 27px;
    }
    .commerce__desc_title,
    .collection__item_title{
       font-size: 34px;
    }
    .custom__desk_title{
        font-size: 31px;
    }
}

@media(max-width:320px) {
      
}