@import'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'PlayFair';
    font-weight: 400;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
}

.nav__list {
    display: flex;
    gap: 40px;
}

.nav__list_link a {
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    position: relative;
}

.triangle {
    transition: 0.2s;
    transform: rotate(180deg);
}

.nav__list_link a:hover .triangle {
    transform: rotate(0);
}

.form input {
    padding: 6px 12px;
    border: 1px solid #41A28E;
    outline: none;
}

.form__btn {
    background: #41A28E;
    border: none;
    outline: none;
}

.form {
    display: flex;
    gap: 4px;
}


.nav__dropdown {
    position: absolute;
    top: 62px;
    max-width: 160px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    opacity: 0;
    z-index: -1;
    transition: 0.4s;
    transform: translateY(100px);
}

.nav__list_link:hover .nav__dropdown {
    opacity: 1;
    z-index: 1;
    transform: scale(1.1) translate(0px);
}

.nav__dropdown .nav__list_link a {
    padding: 12px 0 12px 30px;
    display: inline-block;
}

.nav__dropdown .nav__list_link:not(:last-child) {
    border-bottom: 1px solid #E5E5E5;

}

.header__content {
    height: 750px;
    background: url(../img/Rectangle\ 2.png)center center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__content_title {
    background: rgba(0, 0, 0, 0.7);
    padding: 16px 61px;
    font-size: 50px;
    line-height: 67px;
    color: #FFFFFF;
}

.header__content_subtitle {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.38);
}

.header__content_btn {
    background: #FFFFFF;
    padding: 21px 34px;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    transition: 0.4s;
}

.header__content_btn:hover {
    background: #41A28E;
    color: #FFFFFF;
}

.commerce {
    margin: 48px auto 72px;
}

.commerce__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commerce__cards_card {
    position: relative;
    height: 170px;
    overflow: hidden;
}


.commerce__cards_card span {
    position: absolute;
    bottom: -40px;
    transition: 0.4s;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(75, 72, 72, 0.7);
    font-size: 25px;
    line-height: 33px;
    color: #FFFFFF;
}

.commerce__cards_card:hover span {
    bottom: 0;
}

.commers__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-top: 52px;
}

.commerce__desc_title {
    font-size: 50px;
    line-height: 67px;
    color: #000000;

}

.commerce__desc_text {
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    max-width: 496px;
    text-align: center;
}

.collection {
    height: 404px;
    background: url(../img/card6.jpg)center center / cover fixed;
    display: flex;
    align-items: center;
}

.collection__item_subtitle {
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 3px;
}

.collection__item_title {
    font-size: 50px;
    line-height: 67px;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.collection__item_btn {
    padding: 23px 42px;
    background: #FFFFFF;
    color: #000000;
    transition: 0.4s;
    display: inline-block;
}

.collection__item_btn:hover {
    background: #41A28E;
    color: #FFFFFF;
}

.custom {
    margin: 50px auto;
}

.custom__desk {
    text-align: center;

}

.custom__desk_title {
    font-size: 50px;
    line-height: 67px;
    color: #000000;
    margin-bottom: 18px;
}

.custom__desk_text {
    max-width: 496px;
    margin: 0 auto;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    margin-bottom: 69px;
}

.custom__cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.custom__card_top {
    position: relative;
    max-width: 255px;
    height: 340px;
    overflow: hidden;
}


.custom__card_top:hover .downmenu {
    bottom: 0;
    opacity: 1;
}


.downmenu {
    background: rgba(0, 0, 0, 0.7);
    padding: 16px 12px;
    position: absolute;
    width: 100%;
    bottom: -60px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
    opacity: 0;
}

.downmenu__left {
    display: flex;
    gap: 14px;
}

.downmenu__left span {
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}

.downmenu__right {
    display: flex;
    align-items: center;
    gap: 22px;
}

.custom__card_bottom {
    margin-top: 43px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.custom__card_bottom-text {
    line-height: 29px;
    font-size: 22px;
    color: #000000;
}

.custom__card_bottom-text span {
    color: #666666;
    text-decoration: line-through;
}

.custom__card:nth-child(2)::after,
.custom__card:nth-child(4)::after {
    content: 'OUT OF STOCK';
    display: block;
    padding: 10px 18px;
    font-family: 'Roboto';
    font-size: normal;
    font-weight: 400;
    line-height: 14px;
    color: #FFF;
    background: #4b4b4b;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
}

.custom__card:nth-child(4)::after {
    content: 'sale';
}

.custom__card {
    position: relative;
}

.footer {
    background: #000000;
    padding: 36px 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__inner_item {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 255px;
    width: 100%;
}

.footer__inner_item-title {
    line-height: 32px;
    color: #FFFFFF;
    font-size: 24px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-links_link a {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    transition: 0.4s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-links_link a:hover {
    color: #41A28E;
    text-shadow: 6px 7px 11px #41A28E;
}

.footer__icons path {
    transition: 0.4s;
}

.footer-links_link a:hover .footer__icons path {
    fill: #41A28E;
    box-shadow: 0px 0px 20px 0px #41A28E;
}

.footer__item-form input {
    padding: 10px 14px;
    width: 100%;
    border: none;
    outline: none;
}

.footer__item-form {
    display: flex;
}

.footer__item_btn {
    background: #41A28E;
    padding: 12px 10px;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer__item_form-text {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 20px 0;
}

.footer__item_form-icons {
    display: flex;
    gap: 25px;
}